{% extends "layout.html" %}

{% block title %}
    Features
{% endblock %}

{% block main %}

    <h1 class="talk1">This, is my final project for cs50x</h1>
    <p class="talk2">The end goal of this project was, to unify my buring passion for jiu-jitsu and the aim to get better at programming.
        <br>So, how could it be any better than a web app that would help me improve my bjj ? Thanks to these implementations, we can:
        <br>- Create a dictionnary for techniques and positions
        <br>- Help make a gameplan, through the use of the "favorite" option for both techniques and positions
        <br>- Make a quiz-like game of positions, techniques, and gameplan
        <br>- Share the website
        <br><br>So, i'd like to give a huge shout-out to everyone participating in the maknig of the cs50x course, as this web app would not be there without their help
        <br>And, of course, another just as big to my professors and other student at Gracie Barra Paris, for helping me discover this magnificent sport !
    </p>

{% endblock %}
